img{
    width: 50px;
    height: 50px;
    margin-inline-start: 70px;
    margin-top: 25px;
}
button{
    float: right ;
    background-color: white;
    border-radius: 6px;
    margin-top: 45px;
    margin-inline-end: 100px;
     transition-duration: 1s;
    transition-delay: 0.3s;
}
button:hover{
    background-color: rgb(236, 240, 15);
    transform: scale(1.2);
}
h1{
    text-align: center;
    color: white; 
    transition-duration: 1s;
    transition-delay: 0.3s;
}
 h1:hover{
    color: rgb(236, 240, 15);
    transform: scale(1.2);
} 
 main{
    background-color: rgb(36, 32, 32);
    
 }
 body{
    background-color: black;
 }
 .grid_container{
    grid-template-columns: repeat( 8, 1fr);
    display: grid;
    gap: 20px;
    
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 100px;
     transition-duration: 1s;
    transition-delay: 0.3s;
 }
 footer:hover{
    color: rgb(236, 240, 15);
    transform: scale(1.2);
 }
 :root{
    --primary-color: rgb(7, 188, 224);
}
.item1{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.item1:hover{
    background-color:var(--primary-color);
} 
.item{
    font-size: 30px;
}
@media (min-width: 375px){
    .grid_container{
    grid-template-columns: 1fr;
    display: grid;
    gap: 20px;
    }
}
@media (min-width: 768px){
    .grid_container{
    grid-template-columns: 230px 230px 230px;
    display: grid;
    gap: 20px;
    grid-template-rows: 200px 300px 300px 200px;
    }
    #item_2{
        grid-column-end: 2 span ;
    }
   #item_5{
    grid-row-end: 2  span;
   }
   #item_9{
    grid-column-end: 2 span;
   }
}
@media (min-width: 1024px){
    .grid_container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 205px 200px 200px 200px;
    display: grid;
    gap: 20px;
    }
    #item_1{
        grid-column-end: 2 span;
    }
    #item_2{
        grid-column-end: 1 span;
        grid-row-end: 2 span ;
    }
    #item_4{
        grid-row-end: 2 span;
    }
    #item_5{
        grid-row-end: 1 span;
    }
    #item_8{
        grid-column-end: 2 span;
    }
    #item_9{
        grid-column-end:4 span ;
    }
}


